body {
  background-color: #282c34;
}

button {
  cursor: pointer;
  position: relative;
}

.choiceButton:active,.choiceButton:hover {
  outline: 2px pink solid;
}

.choiceButton:disabled {
  background: slategray;
  outline: none;
  cursor: not-allowed;
}

.choiceButton:disabled:hover::after {
  content: "You've already selected this choice.";
  background: #282c34;
  z-index: 1;
  border: 2px solid white;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  border-radius: 1rem;
}

a, a:visited,a:active {
  color: pink;
}

.App {
  color: #fff;
  padding: 1rem 10vw;
  @media (min-width: 1250px) {
    padding: 0 25vw;  
  }
}